
.line {
  text-decoration: line-through 2px red;
}
ul, li {
  padding: 7px;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: red;
  position: absolute;
}
h1 {
  font-family: 'Dancing Script', cursive;
}
.main {
  display: flex;
  justify-content: center;
}
.btn {
  margin-top: 10px;
  background-color: #45CFDD;
  padding: 10px;
  width: 20%;
  border: none;
  font-size: 20px;
  position: absolute;
  bottom: 300px;
}
.btn1 {
  margin-bottom: 10px;
  background-color: #F24C3D;
  padding: 10px;
  width: 20%;
  border: none;
  font-size: 20px;
  position: absolute;
  bottom: 200px;
}
input {
  padding: 10px;
  margin: 10px;
  width: 20%;
  position: absolute;
  bottom: 400px;
}
.container {
  position: relative;
}
.container img {
  height: auto;
}






